<h1> </h1>

<div class="container" class="text center">
    <img src="https://www.feeltheflow.pl/files/na%20strone%20kadra%202.jpg" class="my" class="rounded mx-auto d-block"
        style="margin: 100px;" height="450" alt="ski">
</div>

<div class="container px-4">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">Szkolenie to interakcja między kursantem a instruktorem. Efektywność
                pracy
                dydaktycznej, ale i zadowolenie ze szkolenia
                są silnie związane z tym, czy ta interakcja przebiega poprawnie. Przykładamy ogromną uwagę do
                aspektów
                interpersonalnych
                szkolenia, dlatego chcemy dać się poznać – nie tylko jako instruktorzy, ale także jako ludzie gór,
                sportowcy. Szkolenia,
                na które Was zapraszamy, wynikają z naszych osobistych doświadczeń rozwoju górskiego, o czym
                opowiadamy
                życiorysami i
                opisem ścieżki (w) góry. </div>
        </div>

    </div>