<h1> </h1>

<lib-test></lib-test>

<div class="container" class="text center">
    <img src="https://www.feeltheflow.pl/files/na%20strone%20kadra%202.jpg" class="rounded mx-auto d-block"
        style="margin: 35px;" height="450" alt="ski">
</div>

<div class="container">
    <div class="row gx-1">
        <div class="col">
            <div class="p-3 border border-info bg-light" style="margin: 25px;">Szkolenie to
                interakcja między kursantem
                a instruktorem.
                Efektywność
                pracy
                dydaktycznej, ale i zadowolenie ze szkolenia
                są silnie związane z tym, czy ta interakcja przebiega poprawnie. Przykładamy ogromną uwagę do
                aspektów
                interpersonalnych
                szkolenia, dlatego chcemy dać się poznać – nie tylko jako instruktorzy, ale także jako ludzie gór,
                sportowcy. Szkolenia,
                na które Was zapraszamy, wynikają z naszych osobistych doświadczeń rozwoju górskiego, o czym
                opowiadamy
                życiorysami i
                opisem ścieżki (w) góry. </div>
        </div>

    </div>