<h1>STRONA GŁÓWNA</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="https://sportofino.com/media/wysiwyg/blog4/pion1.jpg" alt="surf">
        </div>
        <div class="col">

            <p class="fw-light">Cheeky Monkey to klasyki z twistem, czyli coś co reprezentuje nasz własny styl i nieco
                buntowniczą naturę.
                Trochę przeskalowane, łatwe w noszeniu i wykonane z najwyższej jakości, przyjaznych środowisku
                materiałów.
            </p>

        </div>
    </div>
</div>