<h1>STRONA GŁÓWNA</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="https://sportofino.com/media/wysiwyg/blog4/pion1.jpg" alt="surf">
        </div>
        <div class="col">

            <p class="fw-light">Skitouring to połączenie górskiej turystyki zimowej oraz narciarstwa, a od zwykłej
                turystyki oraz narciarstwa alpejskiego różni się oczywiście sprzętem. Cechą charakterystyczną są przede
                wszystkim narty z fokami oraz specjalnymi wiązaniami z ruchomą piętką przystosowane do podchodzenia.
            </p>

        </div>
    </div>
</div>