<h1>STRONA GŁÓWNA</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="https://sportofino.com/media/wysiwyg/blog4/pion1.jpg" alt="surf">
        </div>
        <div class="col">
            Cheeky Monkey to klasyki z twistem, czyli coś co reprezentuje nasz własny styl i nieco buntowniczą naturę.
            Trochę przeskalowane, łatwe w noszeniu i wykonane z najwyższej jakości, przyjaznych środowisku materiałów.

            Nasze ubrania są proste i praktyczne - z łatwością można je dopasować do własnego stylu i różnych okazji.
            Jesteśmy pewne, że pokochasz je tak samo jak my :)

            Tworzymy i szyjemy lokalnie w Polsce. Bardzo ważne są dla nas bliskie relacje z ludźmi, z którymi
            współpracujemy - dzięki temu nasze produkty cechują się wysoką jakością oraz trwałością. Używamy wyłącznie
            organicznych, certyfikowanych materiałów, które są bezpieczne zarówno dla skóry, jak i środowiska. Ponadto
            wyeliminowałyśmy wszystkie toksyczne chemikalia z procesu produkcji jeansu! Barwienie i pranie są całkowicie
            ekologiczne.
        </div>
    </div>
</div>