<h1></h1>

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" type="button" style="margin:20px;" aria-current="page" class="btn btn-outline-info"
            routerLink="">HOME</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" type="button" style="margin:20px;" class="btn btn-outline-info" routerLink="o-nas"> O NAS
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" type="button" style="margin:20px;" class="btn btn-outline-info" routerLink="team"> ZESPÓŁ
        </a>
    <li class="nav-item">
        <a class="nav-link" type="button" style="margin:20px;" class="btn btn-outline-info" routerLink="kontakt">
            KONTAKT
        </a>
    </li>
</ul>


<div class="container">
    <router-outlet></router-outlet>
</div>