<h1></h1>

<p class="text-center" style="color: rgb(27, 151, 223);">SKITURNUS</p>


<div class="d-grid gap-3">
    <div class="p-1 mb-2 bg-white text-dark"></div>
</div>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" type="button" style="margin:20px;" aria-current="page" class="btn btn-outline-info"
            routerLink="">HOME</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" type="button" style="margin:20px;" class="btn btn-outline-info" routerLink="o-nas"> O NAS
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" type="button" style="margin:20px;" class="btn btn-outline-info" routerLink="team"> ZESPÓŁ
        </a>
    </li>
</ul>


<div class="container">
    <router-outlet></router-outlet>
</div>