<h1></h1>
<div class="d-grid gap-3">
    <div class="p-1 mb-2 bg-white text-dark"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-info" routerLink="">STRONA GŁÓWNA</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-info" routerLink="o-nas"> O NAS </button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-info" routerLink="team">ZESPÓŁ</button>
        </div>
    </div>
</div>
<div class="d-grid gap-3">
    <div class="p-1 mb-2 bg-white text-dark"></div>
</div>


<div class="container">
    <router-outlet></router-outlet>
</div>